#p1{border: 5px purple outset; width:450px; height:25%;}
#band,#p2{text-decoration:underline; color:red;}
#p3{color:orange;}
#p4{color:yellow;}
#p5{color:green;}
#p6{color:blue;}
span{color:purple;}
th{font-style:italic; color:orange}
tr.song{font-style:italic;}
.song{color:purple;} 

ul{font-style:italic;}
#image{background: url("https://upload.wikimedia.org/wikipedia/en/8/8c/At_the_hollywood_bowl.JPG")no-repeat; 
	background-attachment:fix;  background-size:cover; margin:auto; width:450px; height:400px; border:5px purple outset;} 
	
#albumtitle{font-family:"Baloo Thambi", fantasy;}

@font-face {
	font-family:bandfont; 
	src:url(Blazed.ttf);}
#band{font-family: "bandfont", fantasy;}

tbody{background-color:lawngreen;}