#p1{border: 5px purple outset; width:450px; height:25%;}
#band,#p2{text-decoration:underline; color:red;}
#p3{color:orange;}
#p4{color:yellow;}
#p5{color:green;}
#p6{color:blue;}
span{color:purple;}
th{font-style:italic; color:orange}
tr.song{font-style:italic;}
.song{color:purple}